<a href="https://colab.research.google.com/github/wlodarma/udemy-py/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [20]:
import pandas as pd
pd.__version__

'1.3.5'

In [21]:
s = pd.Series(data=[3,2,4,6], index=['a', 'b', 'c', 'd'], name='sample')

In [22]:
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [23]:
import numpy as np

np.nan

nan

In [24]:
s = pd.Series(data=[3,np.nan,4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [25]:
s = pd.Series(data = [True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [26]:
s = pd.Series(data = np.arange(10, 20), index = pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [27]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [28]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [29]:
s.shape

(10,)

In [30]:
price = pd.Series(data = {'Apple': 200, 'CD Project':60, 'Amazon':1900})
price

Apple          200
CD Project      60
Amazon        1900
dtype: int64

In [31]:
price['CD Project']

60

In [32]:
price[1]

60

In [33]:
price.count()

3

In [34]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [35]:
price.sum()

2160

In [36]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [37]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [38]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN', 'PKO BP'],
                       'mWIG40':['Amica', 'PLAYWAY']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  PLAYWAY